body{
	background-color: #000;
	font-family: sans-serif;
	font-size: 15px;
	color:#fff;
}
.widget{
	width:80%;
	height: 600px;
	overflow:auto;
	background-color: #c0c753;
	margin: 10% auto 0 auto;
	text-align: center;
	border-radius: 20px;
}
.container{
	margin-top:30px;
	background-color: #fff;
	color:#000;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
h3{
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 4px;
	margin-top: 4%;
}

#feed {
	/* We need to limit the height and show a scrollbar */
	width: auto;
	height: 350px;
	overflow: auto;
	color:#000;
	margin: 0;
	padding: 5px;
	border-radius: 15px;
}
#feed li {
	padding: 10px;
	text-align: left;
	list-style-type: none;
}
#feed li:hover {
	background-color:#eeefe0;
}
#feed li img {
	vertical-align: middle;
	margin-right: 20px;
}
#feed li a {
	text-decoration: none;
	font-weight: bolder;
	font-size:16px;
	color:#000;
	letter-spacing: 2px;
}
form.search input[type=text] {
	padding: 5px;
	font-size: 17px;
	border: 1px solid grey;
	width: 65%;
	background: #f1f1f1;
	margin: 2% 0 2%;
	outline:#c0c753;
	border-radius: 15px 0px 0px 15px;
}
/* Style the submit button */
form.search button {
	width: 6%;
	height: 30px;
	background: #c0c753;
	font-size: 15px;
	border-left: none;
	cursor: pointer;
}
form.example button:hover {
	background: #c0c753;
	outline: transparent;
}
/* Clear floats */
form.example::after {
	content: "";
	clear: both;
	display: table;
}
.autoRefresh{
	font-weight: lighter;
	float: right;
	margin: 5px 10px auto;
	font-size: 10px;
}
.navbar{
	position: relative;
    width: 100%;
	background: #f3f7bc;

}
.navbar_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

  }
  
  .navbar_ul li {
	float: left;
	padding: 5px;
		margin: 0px;
		cursor: pointer;
}
.navbar_ul li :hover{
	color:#000;
	font-weight: bolder;
}

  .navbar_ul li a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #7d6f6f;
    font-weight: 300;
    font-size: 16px;
    background-color: #f3f7bc;
    border-radius: 2px;
  }

